@import '../../base/fonts.css';

.addProject {
  width: 185px;
  height: 185px;
  border: 2px dotted #333333;
  margin-bottom: 17px;
  margin-right: 17px;
  padding: 10px;
  color: #333333;
  background-color: #000;
  cursor: pointer;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  &.active {
    
  }
  &.loading {
    animation-name: LoadingAnimation;
    pointer-events: none;
  }
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 9;
    display: none;
    &.active {
      display: block;
    }
  }
  .addProjectBtn {
    font-size: 72px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      display: none;
    }
  }
  .addProjectList {
    visibility: hidden;
    position: absolute;
    left: -1%;
    top: 0;
    width: 103%;
    height: 385px;
    z-index: 9;
    border: 1px solid #04e1e1;
    background-color: #000;
    overflow: auto;
    z-index: 99;
    .itemListVariant {
      display: flex;
      justify-content: space-between;
      color: #fff;
      border-bottom: 1px solid #333333;
      padding: 10px;
      &.disabled {
        opacity: 0.4;
        pointer-events: none;
      }
      &:hover {
        color: #04e1e1;
        .add {
          visibility: visible;
        }
      }
      .title {
        @include mainFont(16px, 500);
      }
      .add {
        @include mainFont(16px, 500);
        visibility: hidden;
      }
    }
    &.active {
      visibility: visible;
    }
  }
}

.project {
  width: 185px;
  height: 185px;
  background-color: transparent;
  border: 1px solid #04e1e1;
  margin-bottom: 17px;
  margin-right: 17px;
  padding: 10px;
  transition: transform .1s linear, filter .5s linear;
  will-change: trasform, filter;
  transform-origin: center;
  background-color: #000;
  position: relative;
  line-height: 16px;
  cursor: pointer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  &.loading {
    animation-name: LoadingAnimationActiveProject;
    pointer-events: none;
  }
  .name {
    @include mainFont(18px, 500);
    line-height: 21px;
  }
  .date {
    @include mainFont(12px, 500);
    color: #ffffff70;
    line-height: 14px;
  }
  .dataContainer {
    margin-top: 15px;
    .resp, .cpu, .mem {
      display: flex;
      align-items: center;
      .lineContainer {
        width: 60%;
        height: 10px;
        border-radius: 5px;
        background-color: #4c4c4c;
        overflow: hidden;
        .line {
          width: 100%;
          height: 100%;
          transition: transform .3s ease;
          background-color: #01ccda;
        }
      }
      .title {
        @include mainFont(10px, 500);
        color: #ffffff70;
        margin-left: 10px;
        width: 33%;
        display: flex;
        justify-content: space-between;
      }
    }
    .cpu {
      .lineContainer {
        .line {
          background-color: #d900fe;
        }
      }
    }
    .mem {
      .lineContainer {
        .line {
          background-color: #8c00ff;
        }
      }
    }
  }
  &.hovered {
    //filter: blur(2px);
  }
  &.active {
    //transform: scale(1.2);
    //z-index: 2;
    //filter: blur(0px);
    cursor: pointer;
  }

  .eventContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 38px;

    .settings, .linkTo {
      width: 26px;
      height: 26px;
      cursor: pointer;
      svg {
        width: 100%;
      }
    }

    .eventsContainerRules {
      display: flex;
      justify-content: space-between;
      margin-right: auto;
      .refresh, .pause, .remove, .rebuild, .play {
        width: 26px;
        height: 26px;
        cursor: pointer;
        svg {
          width: 100%;
        }
      }
    }
  }
}

@keyframes LoadingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes LoadingAnimationActiveProject {
  0% {
    border-color: #333333;
  }
  100% {
    border-color: #04e1e1;
  }
}