.projectsContainer {
  width: 1250px;
  padding-left: 35px;
  margin: 50px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

}
