@import 'app/base/fonts.scss';

.AutoSizerWrapper {
  // flex: 1 1 auto;
  height: calc(100vh - 70px)
}

.List {
  // border: 1px solid #e0e0e0;
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 5px;
  border-bottom: 1px solid #e0e0e0;
  @include monoFont(10px, 400);
  span {
    display: inline-block;
    &.time {
      color: #ccc;
      padding-right: 5px;
      padding: 0.5em;
      width: 120px;
    }

    &.name {
      color: #03F0FC;
      width: 100px;
      padding: 0.5em;
    }

    &.content {
      color: #000000;
      width: calc(100vw - 250px);
    }

  }

}

