.graphContainer {
  width: 1250px;
  margin: 0 auto;
  position: relative;
  .infoContainer {
    position: absolute;
    width: 930px;
    height: 300px;
    top: 2%;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
  }
  
  .infoContainerChart {
    /* background-color: #f00; */
    /* opacity: .8; */
    width: 300px;
    height: 300px;
  }
  
  .infoContainerLabels {
    /* background-color: #f00; */
    /* opacity: .8; */
    width: 100px;
    height: 200px;
  }
  
  .legend {
    top: 5%;
    position: absolute;
    right: 0;
    width: 150px;
    /* height: 200px; */
    /* background-color: #f00; */
  }
}