.graphContainer {
  width: 1250px;
  margin: 0 auto;
  position: relative;
  .infoContainer {
    position: absolute;
    width: 1033px;
    height: 200px;
    top: 15px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
  }
  .infoContainerChart {
    /* background-color: #f00; */
    /* opacity: .8; */
    width: 200px;
    height: 200px;
    // padding: 5px;
  }
  .infoContainerDis {
    position: absolute;
    width: 1033px;
    height: 200px;
    top: 10px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    .infoContainerDiscrete {
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .infoContainerLabels {
    /* background-color: #f00; */
    /* opacity: .8; */
    width: 100px;
    height: 200px;
  }
  .legend {
    top: 5%;
    position: absolute;
    right: 0;
    width: 150px;
    /* height: 200px; */
    /* background-color: #f00; */
  }
}
