:global {
  html {
    font-size: 16PX;
    text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;

    @media(max-width: 1650px) {
      font-size: 14px;
    }
    @media(max-width: 1350px) {
      font-size: 12px;
    }
    @media(max-width: 1100px) {
      font-size: 10px;
    }

    @media(max-width: 900px) {
      font-size: 8px;
    }

    @media(max-width: 720px) {
      font-size: 16PX;
    }
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #F2F2F2;
    background-color: #000;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  h3 {
    line-height: 30px;
    font-size: 21px;
  }

  .rv-discrete-color-legend-item {
    padding: 0px 0;
    color: #F2F2F2;
  }
  .rv-discrete-color-legend-item__title, .rv-xy-plot__axis__tick__text {
    padding: 0px 0;
    color: #F2F2F2;
    fill: #F2F2F2 !important;
  }
  .rockstat {
    width: 1250px;
    margin: 0 auto;
    &-title {
      font-size: 28px;
      margin: 15px 0;
    }
  }
}
